@using WebApplication.Utils.Extentions

<label class="control-label">@ViewData.ModelMetadata.DisplayName</label>

<input name="@ViewData.TemplateInfo.HtmlFieldPrefix"
       type=@ViewData["type"]
       class="form-control"
       @ViewData.AdditionalData()
       value=@ViewData.TemplateInfo.FormattedModelValue />