@{ Layout = null; }

@model WebApplication.Models.RegisterBindingModel

<h2>Register</h2>
<div class="row">
    <section class="col-md-7">
        <form class="form-horizontal" role="form">
            <h4>Create a new account.</h4>
            <hr />
            @Html.EditorFor(m => m.UserName, new { data_bind = "hasFocus: setFocus" })
            @Html.EditorFor(m => m.Email)
            @Html.EditorFor(m => m.Password)
            @Html.EditorFor(m => m.ConfirmPassword)
            <div class="form-group">
                <div class="controls">
                    <a class="p-btn paper paper-curl-right" data-bind="click: register, disable: session.isBusy()">Register</a>
                </div>
            </div>
            <p><a href="#" data-bind="click: login">Log in</a> if you already have a local account.</p>
        </form>
    </section>
</div>
