@using Microsoft.AspNet.Identity
<div data-bind="visible: IsAuthenticated" style="display: none">
    @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();">Log off</a></li>
        </ul>
    }
</div>
<div data-bind="visible: !IsAuthenticated()">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a data-bind="click: Register">Register</a>
        </li>
        <li>
            <a data-bind="click: Login">Log in</a>
        </li>
    </ul>
</div>